<div class="vh-100 container-fluid about-color text-white  pt-5"  >
    
    <div class="d-flex justify-content-center align-item-center pt-5">
        <h1 class="text-uppercase  fs-1 fw-boldern">ABOUT COMPONENT
        </h1>
         
      </div>
      <div  class=" text-center"><span class="hr-lines"><i class="fa-solid fa-star fa-rotate-by"></i></span></div>

    <div class="row lead ">


        <div class="col-sm-12 col-md-6 pt-3 text">
           
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="col-sm-12 col-md-6 pt-3  text">

            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
       </div>     
</div>