
<nav class="navbar navbar-expand-lg navbar-custom   ">
    <div class="container">
      <a class="navbar-brand text-white fs-4 fw-bolder py-4" href="#">START FRAMEWORK
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto  text-white">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link"aria-current="page">ABOUT</a>

          </li>
          <li class="nav-item">
       
             <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link"aria-current="page">PORTFOLIO</a>

          </li>
          <li class="nav-item">
           
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link"aria-current="page">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 