<div class="container py-5">
    <div class="d-flex justify-content-center align-item-center">
  <h1 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h1>
   
</div>
<div  class=" text-center"><span class="hr-lines"><i class="fa-solid fa-star fa-rotate-by"></i></span></div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserName</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserAge</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserAge</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserEmail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" >
  </div><div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserPassword</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
</div>