<div  class="container g-5 pb-3 pb-3">
<div class="row py-3">
    <div class="col-12 col-md-6 col-lg-4">
       
<img src="./assets/port1.png" class="w-100 rounded pb-3">
       </div>
    
    <div class="col-12 col-md-6 col-lg-4 ">
        <img src="./assets/port2.png" class="w-100 rounded pb-3">
    </div>
    <div class="col-12 col-md-6 col-lg-4 ">
        <img src="./assets/port3.png" class="w-100 rounded pb-3">
    </div>
    


    <div class="col-12 col-md-6 col-lg-4">
       
<img src="./assets/port1.png" class="w-100 rounded">
       
    </div>
    <div class="col-12 col-md-6 col-lg-4 ">
        <img src="./assets/port2.png" class="w-100 rounded">
    </div>
    <div class="col-12 col-md-6 col-lg-4 ">
        <img src="./assets/port3.png" class="w-100 rounded">
    </div>


</div>